head {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(0, 153, 255);
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(0, 153, 255);
}