@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    background-color: rgb(255, 255, 255);
}

.sectionheader {
    display: block;
    font-size: 2.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    background-color: rgb(149, 149, 149);
}

a {
    font-family: "Jetbrains Mono", "Space Mono", "Courier New", Courier, monospace;
}

/* Animations */

span.cursor {
    font-weight: bold;
    color: skyblue;
}

body header h1 span.cursor {
    font-weight: bold;
    font-style: italic;
    color: blue;
}

body header h1 {
    padding-left: 10px;
    font-size: 75px;
    font-weight: normal;
    font-style: italic;
}

/* Flex containers */

div.flex-container section {
    width: 50%;
    padding: 10px;
}

div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

@media screen and (max-width: 800px) {
    div.flex-container {
        flex-direction: column;
    }

    div.flex-container section {
        width: 100%;
        padding: 0;
    }
}