@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    background-color: rgb(255, 183, 0);
}

a {
    font-family: "JetBrains Mono", "Space Mono", "Courier New", Courier, monospace;
}