head {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(191, 0, 255);
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(191, 0, 255);
}